@font-face {font-family: "CircularSpotifyTxT-Black";
  src: url("../fonts/spotify.eot"); /* IE9*/
  src: url("../fonts/spotify.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/spotify.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/spotify.woff") format("woff"), /* chrome、firefox */
  url("../fonts/spotify.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/spotify.svg#CircularSpotifyTxT-Black") format("svg"); /* iOS 4.1- */
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "CircularSpotifyTxT-Black";
  font-size: 16px;
}

a{
  text-decoration: none;
  color:inherit;
}

h1,h2,h3,h4,h5,h6{
  color: #fff;
}

main{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main::after{
  content: "";
  display: table;
  clear: both;
}

.sidebar{
  float:left;
  width: 200px;
  height: calc(100% - 100px);
  background-color: black;
  color: gray;
}

.main-window{
  float: left;
  width:calc(100% - 200px);
  height: calc(100% - 100px);
  background-color: #141922;
  overflow-y: scroll;
  overflow-x: hidden;
}

.music-player{
  position: fixed;
  bottom:0;
  left: 0;
  width:100vw;
  height:100px;
  background-color:#282828;
}

/*Sidebar Style*/
.sidebar-header{
  height: calc(100% - 80px);
  width: 100%;

  min-height: 500px;
}

.logo-item{
  padding-top:20px;
  padding-left:10px;
}

.logo-item img{
  width:150px;
}

.navbar-home {
  margin: 30px 0;
}

.navbar-home > ul > li, .playlist-list > ul > li{
  padding-left:10px;
  height:30px;
  box-sizing: border-box;
  font-size: 0.9rem;
}

.navbar-home > ul >li:nth-child(2){
  margin:10px 0;
}

.navbar-home > ul > li > a > img{
  height:100%;
  vertical-align: middle;
}


.active, .navbar-home > ul >li:hover , .playlist-list > ul > li:hover{
  color:#fff;
}

.active{
  padding-left:7px !important;
  border-left: 3px solid green;
}

.sidebar-playlist{
  margin: 0 15px;
}

.create-playlist{
  margin:10px 0;
  height:40px;

}
div.add{
  display:inline-block;
  height:100%;
  width: 40px;
  background-color: gray;
  color:black;
  font-size:40px;
  vertical-align: middle;
  text-align: center;
}

.create-playlist:hover{
  color: #fff;
}

.create-playlist:hover >a > div.add{
  background-color: #fff !important;
}

div.playlist{
  overflow-y: auto;
  min-height: 400px;
}

nav.playlist-list > ul{
  list-style: none;
}

nav.playlist-list > ul >li{
  margin: 10px 0;
}

nav.playlist-list > ul > li:first-child{
  margin-top:30px;
}

.sidebar-footer{
  height:80px;
  bottom:0;
  margin:0 15px;
}

.sidebar-footer hr{
  border:1px solid gray;
  margin: 10px 0;
}

.download-app{
  font-size:0.8rem;
}

.download-app img{
  height:20px;
  vertical-align: middle;
  margin-right: 5px;
}

.user-profile{
  color:#fff;
  font-size: 1rem;
}

.user-profile img{
  height:20px;
  vertical-align: middle;
  margin-right: 5px;
}
